.contact_rectangle {
    background-image: url("/assets/Home/Contact_main_Image.jpg");
    height: 500px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact_heading {
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
    top: 100px;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.Readmore_button {
    background-image: linear-gradient(to right, #ed1e78, #faaf40);
    color: white !important;
    font-weight: 500;
    border-color: transparent;
    border-radius: 10px;
    width: 142px;
    height: 56.027px;
    font-family: Poppins;
    margin-left: 5%;
    position: relative;
    top: 150px;
}
.Readmore_button:hover{
    background-image: linear-gradient(to right, #faaf40, #ed1e78);
}
.about_img2 {
    border-radius: 10px;
    position: absolute;
    top: 275px;
    left: 200px;

}

.about_img3 {
    border-radius: 0px;
    position: absolute;
    top: 245px;
    left: 270px;
}

.bold_heading {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    position: absolute;
    font-family: Poppins;
    top: 255px;
    left: 310px;
}

.heading_italic {
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-family: poppins;
    line-height: 27px;
    position: absolute;
    top: 285px;
    left: 310px;
}

.about_heading {
    color: #FBAC41;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 3%;
}

.about_sub_heading {
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 5%;

}

.about_paragraph {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    font-family: poppins;
}

.AnimatedProgressBar {
    margin-top: 10%;
    margin-bottom: 10%;

}