.contact_container {
    position: absolute;
    width: 302px;
    height: 480px;
    border-color: black;
    bottom: -200px;
    border-radius: 10px;
    margin-left: 25px;
    border: 1px solid #969696;


}

.contactus_heading {
    color: #000;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 27px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}

.input_fields {
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #F7F7F7;
    width: 250px;
    height: 40px;
    margin-bottom: 25px;


}

.contact_form {
    width: 300px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}

.contact_button {
    height: 40px;
    width: 250px;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin-left: 20px;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, #ed1e78, #faaf40);
}
.upload_button{
    margin-left: 20px;
    height: 40px;
    width: 250px;
    margin-bottom: 25px;
}