.HeroSection {
    background-image: url('/assets/Contact/Contact_Image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    color: #fff;
}

.HeroSection_Heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.contact_heading {
    color: #1B1A1A;
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: Poppins;
}

.contact_Sub_heading {
    margin-top: 1%;
    width: 280px;
    height: 30px;
    background: rgba(217, 217, 217, 0.50);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.contact_heading_main {
    text-align: center;
    margin-top: 5%;
    color: #1B1A1A;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact_container {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 3.18027px 0px rgba(0, 0, 0, 0.25);
    width: 1074.93px;
    height: 900px;
    margin-top: 3%;
}
.L1_input {
    color: #3C3939;
    font-family: Poppins;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 4%;
    position: relative;
    top: 18px;
    right: 110px;
}

.F_input {
    border-radius: 10px;
    border: 1px solid #9F9F9F !important;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    font-family: Poppins;
    width: 481.015px;
    height: 77.917px;
    margin-top: 3%;
}

.F_input::placeholder {
    color: #C6C6C6;
    font-family: Poppins;
    font-size: 17.491px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.L2_Input {
    color: #3C3939;
    font-size: 22px !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    position: relative;
    top: 20px;
    right: 110px;

}
.S_input {
    border-radius: 10px;
    border: 1px solid #9F9F9F !important;
    font-size: 18px;
    font-family: Poppins;
    width: 481.015px;
    padding-left: 20px;
    height: 77.917px;
    margin-top: 4%;
}

.S_input::placeholder {
    color: #C6C6C6;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.L3_Input {
    color: #3C3939;
    font-family: Poppins;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 4%;
    position: relative;
    top: 6px;
    right: 110px;
}

.T_input {
    border-radius: 10px;
    border: 1px solid #9F9F9F !important;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    font-family: Poppins;
    width: 481.015px;
    height: 77.917px;
}

.L4_Input {
    color: #3C3939;
    font-size: 22px !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    position: relative;
    top: 15px;
    right: 110px;
}
.F_input {
    border-radius: 10px;
    border: 1px solid #9F9F9F !important;
    font-size: 18px;
    font-family: Poppins;
    width: 481.015px;
    padding-left: 20px;
    height: 77.917px;
    }

.L5_Input {
    color: #3C3939;
    font-family: Poppins;
    font-size: 22px!important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 4%;
    position: relative;
    top: 10px;
    right: 90px;
}
.Fi_input{
    border-radius: 10px;
    border: 1px solid #9F9F9F !important;
    font-size: 18px;
    font-family: Poppins;
    width: 481.015px;
    padding-left: 20px;
    height: 77.917px;
    position: relative;
    bottom: 15px;
    right: 40px;
}
.L6_Input {
    color: #3C3939;
    font-size: 22px!important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    position: relative;
    right: 90px;

}


.uploadbutton {
    width: 236px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #9F9F9F !important;
    margin-top: 15%;
    position: relative;
    right: 170px;
    bottom: 30px;
}

.uploadbutton:hover {
    color: #000 !important;
    border: 1px solid #9F9F9F !important;
}

.Six_Input {
    border: 1px solid #9F9F9F !important;
    width: 992.243px;
    height: 77.917px;
    font-size: 18px;
    border-radius: 10px;
    font-family: poppins;
    border: 1px solid #9F9F9F;
    margin-left: 4%;
    margin-top: 1%;
}

.Sixth_input::placeholder {
    color: #C6C6C6;
    font-size: 18px;
    font-family: poppins;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 20px;
}

.Seven_input {
    border-radius: 10px;
    border: 1px solid #9F9F9F !important;
    font-size: 18px;
    width: 992.243px;
    height: 168.554px;
    font-family: poppins;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 2%;
    margin-left: 4%;
}

.Seven_input:hover {
    color: #000;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Submit_Button {
    border-radius: 10px;
    background: #FB6239;
    width: 170px;
    height: 60px;
    color: #FFF !important;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    right: 190px;
}
