.offer_heading {
    color: #FBAC41;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-top: 100px;
    margin-left: 35px;
}

.offer_heading2 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    margin-left: 35px;
    
}

.Offer_img {
    position: relative;
    top: 140px;
    border-radius: 15px;
}

.AnimatedTab {
   
    background-color: #FFF0DC;
    border-radius: 15px;
    height: 420px;
    width: 500px;
    margin-left: 35px;
    margin-top: 40px;
}

.Tab_text {
    color: #000;
    width: 131px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.Tab_paragraph {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    position: relative;
    top: 20px;
    left: 25px;
}

.rectangle_subscribe {
    width: 980px;
    height: 90px;
    margin-top: 75px;
    margin-left: 20px;
    background-image: linear-gradient(to right, #ed1e78, #faaf40);
    border-radius: 10px;
    position: relative;

}

.rectangle_subscribe_text {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    position: absolute;
    margin-left: 40px;
    top: 85px;
}

.rectangle_readmore_button {
    background-color: white;
    color: #FAAF40;
    width: 125px;
    height: 40px;
    position: absolute;
    top: 100px;
}