.HeroSection {
    background-image: url('/assets/Publications/Publications_Image.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 500px;
    padding: 100px;
    color: #fff;

}

.HeroSection_Heading {
    color: #FFF;
    font-size: 40px;
    font-family: Poppins;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: normal;
    padding-top: 150px;
}

.FirstHeading {
    color: #FB6239;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.931px;
    text-align: center;
    margin-top: 5%;
}

.SecondHeading {
    color: #000;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.931px;
    text-align: center;
    margin-top: 2%;
}

.Firstparagrph {
    color: #7A7A7A;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.241px;
    margin-top: 5%;
    width: 874.311px;
}

.blog2 {
    margin-bottom: 5%;
}

.Blog_Heading {
    color: #FB6239;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.931px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

.Blog_Paragraph {
    color: #7A7A7A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.627px;
    margin-left: 10%;
}
.Publication_Blog_Image{
    display: flex;
    justify-content: center;
}
.Explain_Paragraph2 {
    color: #7A7A7A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.627px;
}

.Explain_Heading1 {
    color: #FB6239;
    font-family: Poppins;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.931px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.Explain_Paragraph1 {
    color: #7A7A7A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.627px;
    margin-bottom: 10%;
}

.Explain_Heading2 {
    color: #FB6239;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 46.055px;
    margin-bottom: 5%;
}

@media (min-width:350px) and (max-width:500px) {
    .HeroSection {
        background-image: url('/assets/Publications/Publications_Image.png');
        background-size: cover;
        background-position: center;
        text-align: center;
        height: 400px;
        padding: 100px;
        color: #fff;

    }

    .HeroSection_Heading {
        color: #FFF;
        font-size: 20px;
        font-family: Poppins;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        line-height: normal;
        padding-top: 100px;
    }

    .FirstHeading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 5%;
    }

    .SecondHeading {
        color: #000;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        margin-top: 2%;
    }

    .Firstparagrph {
        color: #7A7A7A;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-top: 5%;
        width: auto;
    }

    .blog2 {
        margin-bottom: 5%;
    }

    .Blog_Heading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        padding-right: 20px;
    }

    .Publication_Blog_Image {
        margin-top: 5%;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
    }

    .Explain_Heading1 {
        color: #FB6239;
        font-family: Poppins;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .Explain_Paragraph1 {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10%;
        padding-right: 20px;
    }

    .Explain_Heading2 {
        color: #FB6239;
        text-align: center;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 5%;
    }
}

@media (min-width:500px) and (max-width:850px) {
    .HeroSection {
        background-image: url('/assets/Publications/Publications_Image.png');
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 100px;
        color: #fff;

    }

    .HeroSection_Heading {
        color: #FFF;
        font-size: 28px;
        font-family: Poppins;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        line-height: normal;
    }

    .FirstHeading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 5%;
    }

    .SecondHeading {
        color: #000;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        margin-top: 2%;
    }

    .Firstparagrph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        width: auto;
        margin-top: 5%;
    }

    .blog2 {
        margin-bottom: 5%;
    }

    .Blog_Heading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-left: 10%;
    }

    .Publication_Blog_Image {
        margin-top: 5%;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
    }

    .Explain_Heading1 {
        color: #FB6239;
        font-family: Poppins;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .Explain_Paragraph1 {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10%;
    }

    .Explain_Heading2 {
        color: #FB6239;
        text-align: center;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 5%;
    }
}

@media (min-width:850px) and (max-width:1100px) {
    .HeroSection {
        background-image: url('/assets/Publications/Publications_Image.png');
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 100px;
        color: #fff;

    }

    .HeroSection_Heading {
        color: #FFF;
        font-size: 30px;
        font-family: Poppins;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        line-height: normal;
    }

    .FirstHeading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 5%;
    }

    .SecondHeading {
        color: #000;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        margin-top: 2%;
    }

    .Firstparagrph {
        color: #7A7A7A;
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-top: 5%;
        height: 98px;
        width: 800px;
    }

    .blog2 {
        margin-bottom: 5%;
    }

    .Blog_Heading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
        width: auto;
        margin-left: 10%;
    }

    .Publication_Blog_Image {
        margin-top: 5%;
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .Explain_Heading1 {
        color: #FB6239;
        font-family: Poppins;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .Explain_Paragraph1 {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10%;
    }

    .Explain_Heading2 {
        color: #FB6239;
        text-align: center;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 5%;
    }
}