.quote_heading {
    color: #1B1A1A;
    font-size: 36px;
    margin-top: 5%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: Poppins;
}


.quote_paragraph {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.34px;
    margin-top: 3%;
    width: 750px;
}


.contact_container {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 3.18027px 0px rgba(0, 0, 0, 0.25);
    margin-top: 3%;
    width: 100%;
    max-width: 1100px;
    height: 600px;
    margin: 0 auto;
    margin-top: 5%;
}

.Row1 {
    margin-top: 5%;
    margin-left: 5%;
}

.emailRow {
    margin-top: 5%;
    margin-left: 5%;
}

.Row2 {
    margin-left: 5%;
}

.Row3 {
    margin-left: 5%;
}

.Input1,
.Input2,
.Link {
    width: 481.015px;
    height: 77.917px;
    border-radius: 7.951px;
    border: 0.795px solid #9F9F9F;
    font-family: Poppins;
    font-size: 22px;
}

.Input1:hover,
.Input2:hover,
.Link:hover {
    border-color: #9F9F9F !important;
}

.Select {
    width: 481.015px !important;
    height: 77px;
    border: 0.795px solid #9F9F9F;
    border-radius: 7.951px;
    margin-right: 5%;
    font-family: Poppins;
    font-size: 22px;
}

.Submit_Button {
    margin-top: 25%;
    border-radius: 10px;
    background: #FB6239;
    width: 170px;
    height: 60px;
    color: #FFF !important;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

@media (min-width:350px) and (max-width:500px) {
    .quote_heading {
        color: #1B1A1A;
        font-size: 25px;
        margin-top: 5%;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-family: Poppins;
    }


    .quote_paragraph {
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.34px;
        margin-top: 3%;
        width: auto;
    }


    .contact_container {
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0px 0px 3.18027px 0px rgba(0, 0, 0, 0.25);
        margin-top: 3%;
        width: 100%;
        max-width: 1100px;
        height: 900px;
        margin: 0 auto;
        margin-top: 5%;
    }

    .Row1 {
        margin-top: 5%;
        margin-left: 5%;
    }

    .emailRow {
        margin-top: 0px;

    }

    .Row2 {
        margin-left: 5%;
    }

    .Row3 {
        margin-left: 5%;
    }

    .Input1,
    .Input2,
    .Link {
        width: 320.015px;
        height: 55.917px;
        border-radius: 7.951px;
        border: 0.795px solid #9F9F9F;
        font-family: Poppins;
        font-size: 15px;
        padding-left: 20px;
    }

    .Input1:hover,
    .Input2:hover,
    .Link:hover {
        border-color: #9F9F9F !important;
    }

    .Select {
        width: 320.015px !important;
        height: 55.917px;
        border: 0.795px solid #9F9F9F;
        border-radius: 7.951px;
        margin-right: 5%;
        font-family: Poppins;
        font-size: 15px;
    }

    .Submit_Button {
        margin-top: 15%;
        border-radius: 10px;
        background: #FB6239;
        width: 160px;
        height: 55px;
        color: #FFF !important;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }
}
@media (min-width:500px) and (max-width:850px) {
    .quote_heading {
        color: #1B1A1A;
        font-size: 25px;
        margin-top: 5%;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-family: Poppins;
    }


    .quote_paragraph {
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.34px;
        margin-top: 3%;
        width: auto;
    }


    .contact_container {
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0px 0px 3.18027px 0px rgba(0, 0, 0, 0.25);
        margin-top: 3%;
        width: 100%;
        max-width: 1100px;
        height: 500px;
        margin: 0 auto;
        margin-top: 5%;
    }

    .Row1 {
        margin-top: 5%;
        margin-left: 5%;
    }

    .emailRow {
        margin-top: 0px;

    }

    .Row2 {
        margin-left: 5%;
    }

    .Row3 {
        margin-left: 5%;
    }

    .Input1,
    .Input2,
    .Link {
        width: 300px;
        height: 55.917px;
        border-radius: 7.951px;
        border: 0.795px solid #9F9F9F;
        font-family: Poppins;
        font-size: 20px;
        padding-left: 20px;
    }

    .Input1:hover,
    .Input2:hover,
    .Link:hover {
        border-color: #9F9F9F !important;
    }

    .Select {
        width: 300px !important;
        height: 55.917px;
        border: 0.795px solid #9F9F9F;
        border-radius: 7.951px;
        margin-right: 5%;
        font-family: Poppins;
        font-size: 20px;
    }

    .Submit_Button {
        margin-top: 15%;
        border-radius: 10px;
        background: #FB6239;
        width: 160px;
        height: 55px;
        color: #FFF !important;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }
}