.HeroSection {
    background-image: url('https://tinypic.host/images/2024/01/25/Services_Image.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 250px;
    height: 400px;
    width: 100%;
    color: #fff;
    margin-bottom: 5%;
}
 
.HeroSection_Heading {
    color: #FFF;
    font-size: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.First_Blog_Heading {
    color: #FB6239;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.536px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.First_Blog_Paragraph {
    color: #7A7A7A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.048px;
    margin-left: 10%;
}

.Second_Blog_Heading {
    color: #FB6239;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.536px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.Services_First_Blog_Image{
    margin-left: 15%;
}
.Services_Second_Blog_Image{
    margin-left: 10%;
}
.Second_Blog_Paragraph {
    color: #7A7A7A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.048px;  
}
.quote_button {
    background-image: linear-gradient(to right, #ed1e78, #faaf40);
    border: transparent;
    border-radius: 10px;
    float: right;
    width: 131.309px;
    height: 51.809px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    color: #FFF !important;
    font-family: Poppins;
    font-size: 15.45px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.858px;
}

.quote_button:hover {
    background-image: linear-gradient(to right, #faaf40, #ed1e78);
}

@media (min-width:350px) and ( max-width:500px){
    .HeroSection {
        background-image: url('https://tinypic.host/images/2024/01/25/Services_Image.webp');
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 100px;
        height: 400px;
        width: 100%;
        color: #fff;
    }
    
    .HeroSection_Heading {
        color: #FFF;
        font-size: 25px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 100px;

    }
    
    .First_Blog_Heading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    
    .First_Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 30.048px;
        padding-right: 25px;
    }
    .Services_First_Blog_Image{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .Second_Blog_Heading {
        margin-top: 10%;
        color: #FB6239;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .Second_Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 30.048px;
        margin-left: 10%;
        padding-right: 25px;  
    }
    .Services_Second_Blog_Image{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .quote_button {
        background-image: linear-gradient(to right, #ed1e78, #faaf40);
        border: transparent;
        border-radius: 10px;
        float: right;
        width: 131.309px;
        height: 51.809px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 3;
        color: #FFF !important;
        font-family: Poppins;
        font-size: 15.45px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.858px;
    }
    
    .quote_button:hover {
        background-image: linear-gradient(to right, #faaf40, #ed1e78);
    }
    
}
@media (min-width:500px) and ( max-width:850px){
    .HeroSection {
        background-image: url('https://tinypic.host/images/2024/01/25/Services_Image.webp');
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 100px;
        width: 100%;
        color: #fff;
    }
    
    .HeroSection_Heading {
        color: #FFF;
        font-size: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 100px;
    }
    
    .First_Blog_Heading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.536px;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    
    .First_Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30.048px;
    }
    .Services_First_Blog_Image{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    .Second_Blog_Heading {
        margin-top: 10%;
        color: #FB6239;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.536px;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .Second_Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30.048px;
        padding-right: 25px;  
    }
    .Services_Second_Blog_Image{
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
    }
    .quote_button {
        background-image: linear-gradient(to right, #ed1e78, #faaf40);
        border: transparent;
        border-radius: 10px;
        float: right;
        width: 131.309px;
        height: 51.809px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 3;
        color: #FFF !important;
        font-family: Poppins;
        font-size: 15.45px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.858px;
    }
    
    .quote_button:hover {
        background-image: linear-gradient(to right, #faaf40, #ed1e78);
    }
    
}
@media (min-width:852px) and ( max-width:1100px){
    .HeroSection {
        background-image: url('https://tinypic.host/images/2024/01/25/Services_Image.webp');
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 100px;
        width: 100%;
        color: #fff;
    }
    
    .HeroSection_Heading {
        color: #FFF;
        font-size: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 100px;
    }
    
    .First_Blog_Heading {
        color: #FB6239;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.536px;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    
    .First_Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30.048px;
    }
    .Services_First_Blog_Image{
        width: 300px;
        height: 300px;
        margin-top: 5%;
    }
    .Second_Blog_Heading {
        margin-top: 10%;
        color: #FB6239;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.536px;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .Second_Blog_Paragraph {
        color: #7A7A7A;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30.048px;  
    }
    .Services_Second_Blog_Image{
        width: 300px;
        height: 300px;
    }
    .quote_button {
        background-image: linear-gradient(to right, #ed1e78, #faaf40);
        border: transparent;
        border-radius: 10px;
        float: right;
        width: 131.309px;
        height: 51.809px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 3;
        color: #FFF !important;
        font-family: Poppins;
        font-size: 15.45px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.858px;
    }
    
    .quote_button:hover {
        background-image: linear-gradient(to right, #faaf40, #ed1e78);
    }
    
}