.Service{
    margin-top: 10%;
}

.allservice_heading {
    color: #FB6239;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.heading_translation_firm {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
}

.quote_button {
    background-image: linear-gradient(to right, #ed1e78, #faaf40);
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    width: 211px;
    height: 82px;

}

.Images{
    /* overflow: hidden; */
    position: relative;
}
.Service_Image {
    border-radius: 10px;
    top: 25vh;
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-right: 10%;
    
}
.active{
    opacity: 1;
}


.service_heading {
    margin-top: 10%;
    color: #000;
    font-size: 45.505px;
    font-style: bold;
    font-weight: 600;
    line-height: 91.01px;

}

.listing {
    margin-top: 10px;
    list-style-type: square;
    font-size: 30px;
    color: #FB6239;
    margin-left: 10%;
}

.list {
    margin-bottom: 10px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.First_Service_Section {
    margin-top: 25%;
    position: relative;
}

.Second_Service_Section {
    margin-top: 50%;
    position: relative;
}

.third_Service_Section {
    margin-top: 50%;
    position: relative;
}

.fourth_Service_Section {
    margin-top: 50%;
    margin-bottom: 50%;
    position: relative;
}

.brands_images {
    margin-top: 2%;
}