.Testimonial_Section {
    margin-top: 10%;
}

.project_satisfaction {
    margin-top: 10%;
 
}

.testimonials_heading {
    color: #FBAC41;
    font-size: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    justify-content: center;
}

.testimonials_heading2 {
    color: #000;
    font-size: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

.testimonial_img {
    display: flex;
    justify-content: center;
}


@media (min-width:350px) and (max-width:500px){
    .Testimonial_Section {
        margin-top: 10%;
    }
        
    .testimonials_heading {
        color: #FBAC41;
        font-size: 18px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
       text-align: center;
    }
    
    .testimonials_heading2 {
        color: #000;
        font-size: 25px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 5%;
    }
    
    .testimonial_img {
        display: flex;
        justify-content: center;
        width: 350px;
        height: 200px;
    }
}

@media (min-width:510px) and (max-width:850px){
    .Testimonial_Section {
        margin-top: 10%;
    }
        
    .testimonials_heading {
        color: #FBAC41;
        font-size: 25px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
       text-align: center;
    }
    
    .testimonials_heading2 {
        color: #000;
        font-size: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 5%;
    }
    
    .testimonial_img {
        display: flex;
        justify-content: center;
        width: 500px;
        height: 350px;
    }
}
/* 
@media (max-width:1100px){
    .Testimonial_Section {
        margin-top: 10%;
    }
    
    .testimonials_heading {
        color: #FBAC41;
        font-size: 25px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
    
    .testimonials_heading2 {
        color: #000;
        font-size: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-top: 1%;
        margin-bottom: 10%;
    }
    
    .testimonial_img {
        display: flex;
        justify-content: center;
        width: 600px;
        height: 300px;
    }
    
} */